<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @person.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @person.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @person.atype %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
